footer.footer(class=['is-' + appconfig.theme.footer], ref='footer')
  span
    = t('footer.poweredby') + ' '
    a(href='https://datacentral.org.au')
      img(src='https://datacentral.org.au/static/restapi_app/dist/img/logo/dc/Data%20Central_AlternativeLogo_Wht.png', style='width:100px;margin-top: -40px;margin-left:10px')
  ul
    li: a(href='/')= t('footer.home')
    li: a(href='#root')= t('footer.top')
